name: Game Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: VS2013
      run: choco install microsoft-build-tools-2013
    - uses: actions/checkout@v2
    - name: VPC
      run: ./src/createtfmodgithub.bat
    #- name: Upgrade
      #shell: cmd
      #run: 'cd src && "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\devenv.com" games.sln /upgrade'
    #- name: Clean
      #shell: cmd
      #run: 'cd src && "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" games.sln /t:Clean /p:Configuration=Release /verbosity:normal'
    - name: Build All
      shell: cmd
      run: 'cd src && "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" games.sln /p:Configuration=Release /verbosity:detailed'
